@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans');

// font-family: 'Open Sans', sans-serif;

body {
  background-color: aquamarine;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fjalla One', sans-serif;
}
